<sly data-sly-use.banner="com.clientname.components.content.fullwidthbanner.FullWidthBanner">
    <div class="full-widt-banner wthi-full-width-banner">
        <img class="image-rendition"
             data-sly-use.imageObj="${'com.clientname.helpers.ImageModel' @ imagePath = banner.bgImage}"
             data-bgset="${banner.bgImage @ context='uri'}/jcr:content/renditions/cq5dam.web.1280.1280.${imageObj.extension @context='uri'}"
             data-device-img="${banner.bgImage @ context='uri'}/jcr:content/renditions/cq5dam.web.1280.1280.${imageObj.extension @context='uri'}"
             retina-desktop-img="${banner.bgImage @ context='uri'}"
             retina-device-img="${banner.bgImage @ context='uri'}/jcr:content/renditions/cq5dam.web.1280.1280.${imageObj.extension @context='uri'}"
             src="${banner.bgImage}" data-sly-test="${banner.bgImage}">

        <div class="page-title-wrapper" data-sly-test="${banner.title && banner.description}">
            <h1 id="page-title" class="page-title" data-shrink-original-size="40" data-sly-test="${banner.title}">${banner.title}</h1>
            <div id="page-description" class="page-description hidden-xs" data-sly-test="${banner.description}">
                <p>${banner.description}</p>
            </div>
        </div>
        <div class="banner-overlay"></div>
    </div>
</sly>

<p data-sly-test="${wcmmode.edit}"
   class="cq-placeholder"
   data-emptytext="Please Configure the Full Width Banner Component Here!!!">
</p>