<sly data-sly-use.tabsInfo="com.clientname.components.content.tabscomponent.TabsComponent">
    <div class="container">
        <div class="wthi-header">
            <div class="season-section">
                <div class="season-dropdown hidden-lg">
                    <select id="season-dropdown" class="selectpicker bs-select-hidden">
                        <sly data-sly-list="${tabsInfo.tabFields}">
                            <option>${item.linkText}</option>
                        </sly>
                    </select>
                </div>
                <ul class="list-inline season-list hidden-xs hidden-sm hidden-md">
                    <sly data-sly-list="${tabsInfo.tabFields}">
                        <li class="list">
                            <sly data-sly-test="${item.activeState == 'active'}">
                                <a class="active" href="${item.urlPath.href}" target="${item.tabTargetValue}">${item.linkText}</a>
                            </sly>
                            <sly data-sly-test="${item.activeState != 'active'}">
                                <a class=" " href="${item.urlPath.href}" target='${item.tabTargetValue}'>${item.linkText}</a>
                            </sly>
                        </li>
                    </sly>
                </ul>
            </div>
            <div class="wthi-logo-wrapper">
                <a class="logo" href="javascript:void()">
                    <img src="${tabsInfo.logo}" alt="${tabsInfo.altText}">
                </a>
            </div>
        </div>
    </div>
</sly>

<p data-sly-test="${wcmmode.edit}"
   class="cq-placeholder"
   data-emptytext="Please Configure the Tabs Component Here!!!">
</p>