.DS_Store

# Eclipse
.project
.metadata
.classpath
.settings/
.svn
target/

# IntelliJ
*.idea
*.iml
*.iws

# Node
node_modules


#Misc
*.class
*.groovy

# Mac
.DS_Store

# Maven
log/
target/


#Directories
target/
bin/