.style1 {
    background-color: #6cb33e;
}
.style2 {
    background-color: #4f6e18;
}
.style3 {
    background-color: #ffd700;
}
.style4 {
    background-color: #ffffe0;
}
.style5 {
    background-color: #e6e6fa;
}
.style6 {
    background-color: #8b008b;
}
.style7 {
    background-color: #008b8b;
}
.style8 {
    background-color: #b0c4de;
}