<div class="Walk-around-block">
    <h3 class="heading-text">${properties.title}</h3>
    <div class="walk-around-iframe">
        <input type="hidden" name="walkaroundiframe" value="${properties.iframePath}"/>
    </div>
    <div class="stylelike-view">
        <div class="like-view">
            <div class="like">
                <span class="icon"></span>${properties.like}
            </div>
            <div class="watched">
                <span class="icon"></span>${properties.watched}
            </div>
            <div class="share">
                <a class="social-share-button">
                    <span class="icon shareIcon" id="shareIcon"></span>${properties.shared}
                </a>
            </div>
        </div>
    </div>
</div>
