<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap/>
<div class="wthi-container">
    <sly class="author-component" data-sly-resource="${ @path='mainpar', resourceType='foundation/components/parsys'}"></sly>
</div>

<!--
<div class="wthi-container">
<div class="clearfix"></div>
<div data-sly-resource="${ @path='mainpar', resourceType='foundation/components/parsys'}" class='clearfix' style="height: 50px important"></div>
<div class="clearfix"></div></div>


<sly data-sly-include="footer.html"/>-->
