<sly data-sly-use.menuData="com.clientname.components.content.menublock.MenuBlock">
    <div class="wthi-menu-block">
        <div class="container">
            <ul class="menu-list">
                <sly data-sly-list="${menuData.menuBlockFields}">
                    <li class="list">
                        <a href="${item.urlPath.href}" class="list-text" target="${item.menuTargetValue}">${item.linkText}</a>
                    </li>
                </sly>
                <li class="list manu-list-desktop">
                    <div class="dropdown">
                        <a class="list-text dropdown-toggle" type="button" id="dropdownMenuButton"
                           data-toggle="dropdown" aria-haspopup="true" aria-expande="" d="false" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-sly-list="${menuData.dropdownFields}">
                            <a class="list-text" href="${item.dropdownUrl.href}" target="${item.dropdownTargetValue}">${item.dropdownLinkText}</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</sly>

<p data-sly-test="${wcmmode.edit}"
   class="cq-placeholder"
   data-emptytext="Please Configure the Menu Block Component Here!!!">
</p>