<div class="decor-container" data-sly-use.data="com.clientname.components.content.carousel.Carousel">
    <h2 class="heading-text">${data.title}</h2>
    <div class="decor-advice-block clearfix">

        <div class="owl-decor-carousel owl-carousel owl-theme " data-sly-list="${data.testimonialData}">
            <div class="item decor-block">
                <img class="quote-open" src="images/quote-open-icon.png">${item.description @context='html'}
                <img class="quote-close" src="images/quote-close-icon.png">
                <div class="btn-block">
                    <a class="text-link">- ${item.btntext @context='html'}</a>
                </div>
            </div>
        </div>
    </div>
</div>
