<sly data-sly-use.wrapperData="com.clientname.components.content.wrapper.Wrapper">
<sly data-sly-test="${wrapperData.wrapper =='container'}">
<div class="container">
    <div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap="${!isEditMode}"></div>
</div>
</sly>
<sly data-sly-test="${wrapperData.wrapper == 'wthi-menu-block'}">
<div class="wthi-menu-block">
    <div class="container">
        <div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap="${!isEditMode}"></div>
    </div>
</div>
</sly>
    <sly data-sly-test="${wrapperData.wrapper == 'wthi-container'}">
        <div class="wthi-container">
            <div data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys'}" data-sly-unwrap="${!isEditMode}"></div>
        </div>
    </sly>
</sly>
<p data-sly-test="${!isPresent && wcmmode.edit}"
   class="cq-placeholder"
   data-emptytext="DragDrop Components Here!!!">
</p>